@charset "utf-8";

/* 样式初始化 */
*{margin:0px; padding:0px; 
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */}}
img{border:0px}
a{text-decoration:none}
ul li{list-style:none}
body,h2,h3,h4,h5,h6,span{font:12px/1.5 Helvetica, Arial, "Microsoft YaHei", sans-serif; color:#666}
@font-face{font-family:"orbitron-bold"; src:url(orbitron-bold.otf)}/*引入logo字体*/
@font-face{font-family:"icon"; src:url(icon.otf)}/*引入icon字体*/

/* 预定义样式 */
.w1000{width:1000px; margin:0 auto}
.fl{float:left}
.fr{float:right}
.cb{clear:both}
.bo{border:1px solid red}
.mt15{margin-top:15px}
.m0a{margin:0 auto}
.ta{text-align:center}
.pr{position:relative}
.body{height:3200px; background-color:#ebecee; }
.pl15{padding-left:15px}
.pr{position:relative}
.pa{position:absolute}
.ob{font-family: "orbitron-bold"}
.my{font-family: "Microsoft YaHei"}
.z1{z-index:1;}
.z2{z-index:2;}
.z3{z-index:3;}
.z4{z-index:4;}
.ov{overflow:hidden}


@media screen 
{

/* header */
#header
{ 
 width:100%;
 max-height:45px;
 background:#3a3c3e; 
 box-shadow: 0 1px 5px rgba(2,2,2,0.5);
 position:absolute;
 left:0px;
 top:0px;
 position:fixed;
 z-index:999;
}
#header .navbar {
 height:45px;
 overflow:hidden;
}
#header .icon img{margin-top:11px; margin-left:3px}
#header .navbar .nav-header
{
  margin-left:10px;
  height:45px;
  font-family: "orbitron-bold";
  font-size: 18px;
  line-height: 45px;
  vertical-align: middle;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-right:10px;
}
#header .navbar  a{color:#ccc; }
#header .navbar  .nav-header a{color:#47b2e2;}
#header .navbar  a:hover{color: #fff}
#header .navbar .nav-list
{
  min-width:510px; 
  margin-left:4px;
}
#header .navbar .nav-list li{
   float:left;
   width:55px;
   height:45px;
   text-align:center;
   margin:0px;
   padding:0px;
   overflow:hidden;
}
#header .navbar .nav-list .underline
{
  border-bottom:2px solid #47b2e2; 	
}
#header .navbar .nav-list li .trangle{color:#eee}
#header .navbar .nav-list li a
{
   line-height:46px;
   font-size:1.2em;
   color: #eee;
}
#header .navbar .nav-list .product{width:70px; margin-left:6px; margin-right:4px}
#header .navbar .nav-list .share{width:90px; margin-left:10px}
#header .navbar .nav-list li[class*="change"] a:hover{color: #47b2e2}
#header .navbar .nav-list li .trangle:hover{color:#47b2e2}
#header .navbar .nav-list li a .trangle:after
{
   font-size:1.2em;
   font-family: "icon";
   content: "\e004";
   margin-left:8px;
}
#header .navbar .nav-list li a .crossline:after
{
   font-size:1.2em;
   font-family: "icon";
   content: "\e005";
   margin-right:12px;
   color:#47b2e2;
}
#navbar_search {width:180px; height:45px;}
#navbar_search .search
{
  width:100%;
  height:100%;
  padding:5px 20px 5px 10px;
  background:#5e6775;	
}
#navbar_search .search .form-control
{
  width:120px;
  height:35px;
  border:none;
  background:#5e6775;
  outline: none;
  color:#47b2e2;
  font-size:1.4em;	
}
#navbar_search .search .search-icon
{
  height:40px;
  line-height:40px;
}
#navbar_search .search .search-icon:before {
  font-size:1.4em;
  font-family: "icon";
  content: "\e002";
  color:#999;
}
#header .navbar .navbar_login{width:90px; height:45px; margin-left:20px; text-align:center; line-height:45px; font-size:1.6em;}
#header .navbar .navbar_login .icon{color:#eee; margin-left:-18px;}
#header .navbar .navbar_login .icon:before {
  font-family: "icon";
  content: "\e001";
  margin-right:18px;
}
#header .navbar .navbar_login .icon:hover{color:#fff}
/* header */
.fill{height:75px;}
#main{width:994px; height:auto; margin:0 auto; background:#f7f7f7; border-radius:10px; box-shadow:0px 2px 2px 2px #ddd;}
{width:100%; height:66px;}
#main .title{width:100%; height:66px;}
#main .title p{color:#777; font-size:1.5em; line-height:66px; padding-left:55px;}
#main .area{width:100%; height:auto; background:#fff; padding:36px 0px 20px 0px;}
#main .area ul li{width:100%; height:90px;}
#main .area ul li img{width:60px; height:60px; margin-left:45px; display:block; float:left;}
#main .area ul li .name{width:280px; height:60px; margin-left:20px; line-height:30px;}
#main .area ul li .name p{font-size:1.3em; color:#50c0ed;}
#main .area ul li .name .kind{font-size:1em; color:#8c77a1;}
#main .area ul li .cal_price{width:336px; height:60px; line-height:60px;  margin-right:60px; float:right;}
#main .area ul li .cal_price span{height:60px; line-height:60px; display:inline-block; float:left; font-size:1.3em; color:#777; text-align:center;}
#main .area ul li .cal_price .unit_price{width:92px; text-align:left;}
#main .area ul li .cal_price .min{width:20px; height:20px; border-radius:20px; background:#50c0ed; color:#fff; margin-top:20px; font-size:3em; line-height:13px; text-align:center;}
#main .area ul li .cal_price .num{width:40px;}
#main .area ul li .cal_price .add{width:20px; height:20px; border-radius:20px; background:#50c0ed; color:#fff; margin-top:20px; font-size:2em; line-height:20px; text-align:center;}
#main .area ul li .cal_price .sum{width:86px; color:#ff6633;}
#main .area ul li .cal_price .del{width:78px;}
#main .area ul li .cal_price .del a{color:#ccc;}
#main .area ul .provide{width:100%; height:32px; border-bottom:dashed 2px #e7e7e7;}
#main .area ul .provide span{font-size:1.2em; color:#b1aaaa; padding-left:48px; line-height:27px;}
#main .bottom{width:100%; height:108px; padding-top:34px; background:#fff;}
#main .bottom .bar{width:100%; height:96px; background:#f7f7f7; border-radius:10px; box-shadow:0px 2px 2px 2px #ddd; padding-top:30px;}
#main .bottom .bar .account_btn{width:92px; height:34px; border-radius:18px; background:#ff6633; margin-right:20px; text-align:center; line-height:34px; color:#fff; font-size:1.2em; }
#main .bottom .bar .account{width:auto; height:36px; padding-right:20px;}
#main .bottom .bar .account span{display:block; font-size:1.3em; line-height:36px; color:#777; float:left;}
#main .bottom .bar .account span i{font-style:normal; color:#cecece; font-size:1em;}
#main .bottom .bar .account .summary{font-size:1.4em; color:#ff6633; margin-left:10px;}
#main  .null{width:100%; height:36px; font-size:1.3em; line-height:0px; color:#ff6633; text-align:center;}

}

@media screen and (min-width:1200px)  
{

/* header */	
#header
{ 
 width:100%;
 max-height:45px;
 background:#3a3c3e; 
 box-shadow: 0 1px 5px rgba(2,2,2,0.5);
 position:absolute;
 left:0px;
 top:0px;
 position:fixed;
 z-index:1000;
}
#header .navbar {
  height:45px;
  overflow:hidden;
 }
#header .icon img{margin-top:11px; margin-left:3px}
#header .navbar .nav-header
{
  
  height:45px;
  margin-left:10px;
  font-family: "orbitron-bold";
  font-size: 18px;
  line-height: 45px;
  cvertical-align: middle;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-right:10px;
}
#header .navbar  a{color: #ccc;}
#header .navbar  .nav-header a{color:#47b2e2}
#header .navbar  a:hover{color: #fff}
#header .navbar .nav-list li{
   float:left;
   width:60px;
   height:45px;
   text-align:center;
   margin-left:8px;
   padding:0px;
   overflow:hidden;
}
#header .navbar .nav-list .underline
{
  border-bottom:2px solid #47b2e2; 	
}
#header .navbar .nav-list li a
{
   line-height:46px;
   font-size:1.2em;
   color: #eee;
}
#header .navbar .nav-list li a span{font-size:1em}
#header .navbar .nav-list .product{width:70px; margin-left:12px; margin-right:4px}
#header .navbar .nav-list .share{width:100px; margin-left:12px}
#header .navbar .nav-list li[class*="change"] a:hover{color: #47b2e2}
#header .navbar .nav-list li .trangle{color:#eee}
#header .navbar .nav-list li .trangle:hover{color:#47b2e2}
#header .navbar .nav-list li a .trangle:after
{
   font-size:1.2em;
   font-family: "icon";
   content: "\e004";
   margin-left:12px;
}
#header .navbar .nav-list li a .crossline:after
{
   font-size:1.2em;
   font-family: "icon";
   content: "\e005";
   margin-right:12px;
   color:#47b2e2;
}

/* header */


}
@media screen and (max-width:1000px)
{
  #exploder .left{display:none}
  #exploder .products{float:left}  	
}


